.load {
  width: 1000px;

  height: 1000px;
  .box {
    background: white;
    width: 500px;
    margin: 0 auto;
    border: 1px solid gray;
    .navi {
      // width: 500px;
      // // margin: 0 auto;
      .top {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        height: 60px;
        // justify-items: center;
        align-items: center;
        font-family: "Times New Roman", Times, serif;
        img {
          border-radius: 50px;
          //   margin-top: 10px;
        }
        h2 {
          font-family: "Grenze", serif;
          text-align: start;
          padding-right: 150px;
        }
        i {
          // transform: rotate(90deg);
          font-size: 23px;
          justify-self: end;
        }
      }
    }
  }
}
