.comnt-text {
  width: 500px;

  //   margin: 10px 0;
  .logo {
    img {
      border-radius: 50%;
      width: 40px;
    }
  }
  .content {
    padding: 10px;
    font-size: 20px;
    .text {
      span {
        color: gray;
      }
      small {
        color: gray;
      }
    }
    .tag-name {
      margin-top: 20px;
      i {
        color: #013569;
      }
    }
  }
  .comnt-section {
    input {
      width: 490px;
      height: 50px;
      font-size: 18px;
      border: 0.5px solid rgb(88, 86, 86);
      padding-left: 10px;
    }
  }
}
